@import "../variables";
@mixin fullviewPort(){
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}
.sceneInfo{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // height: 100%;
    // width: 60%;
    // text-align: center;
    // margin: 15% auto; 
    @include fullviewPort();
}
.noScroll{
    @include fullviewPort();
    overflow: hidden;
}
.infoContainer{
    font-family: "Avenir", Avenir, sans-serif;
    position: fixed;
    top: 28%;
    right: 0;
    width: 38%;
    z-index: 100000;
    p{
        color: #030303;
        line-height: 1.5em;
        font-size: .8em;
        padding-bottom: 1%;
    }
}