@import "../variables";

@mixin fullviewPort(){
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.titles{
    display: flex;
    overflow-x: hidden;
    position:fixed;
    transition: .55s linear;
    z-index: 5656565656;
    .titleWrapper{
        width: 100vw;
        .videoTitle1, .videoTitle2, .videoTitle3{
            flex-direction: row;
            font-size: 1em;
            font-family: 'Helvetica', Helvetica;
            font-weight: 600;
            position: fixed;
            top: 30%;
            z-index: 565656;
            margin-left: 15vw;
            width: 100%;
            @media screen and (min-width:$s){
                top: 28%;
                font-size: 2.5em;
            }
            @media screen and (min-width:$m){
                top: 30%;
                font-size: 4em;
            }
            &::before{
                content: "";
                width: 10%;
                height: 0.3%;
                position: fixed;
                left:15%;
                top: 33%;
                background-color: #000;
                @media screen and (min-width:$s){
                    height: 0.5%;
                }
                @media screen and (min-width:$s){
                    height: 1%;
                }    
            }
        }
    }
}
@keyframes slideNext {
    from {
        transform : translateX(1000%);
    }
    to {
        transform : translateX(0%);
    }
}
@keyframes slidePrevious {
    from {
        transform : translateX(-1000%);
    }
    to {
        transform : translateX(0%);
    }
}
.slider {
    margin: auto;
    display: flex;
    overflow-x: hidden;
    position:fixed;
    transition: 1.5s ease-in-out;
    .sliderWrapper{
        width: 100vw;
        // &.slidePrevious{
        //     animation: slidePrevious 1.2s ease-out;
        // }
        // &.slideNext{
        //     animation: slideNext 1.2s ease-out;
        // }
        .carousel{
            height: 100vh;
            width: 100vw;
            .homeScene{
                @include fullviewPort();
            }
                .carouselImage1, .carouselImage2, .carouselImage3{
                    overflow-x: hidden;
                &.slideNext{
                    animation: slideNext 0.8s ease-out;
                }
                &.slidePrevious{
                    animation: slidePrevious 0.8s ease-out;
                }
            }
        }
}
}

