@import "../variables";

.titles{
    display: flex;
    overflow-x: hidden;
    position:fixed;
    transition: .9s ease-in-out;
    z-index: 5656565656;
    .titleWrapper{
        width: 100vw;
        .videoTitle1, .videoTitle2, .videoTitle3{
            flex-direction: row;
            font-size: 1em;
            font-family: 'Helvetica', Helvetica;
            font-weight: 600;
            position: fixed;
            top: 30%;
            z-index: 565656;
            margin-left: 14.7vw;
            word-break: keep-all;
            @media screen and (min-width:$s){
                top: 28%;
                font-size: 4em;
            }
            &::before{
                content: "";
                width: 10%;
                height: 0.3%;
                position: fixed;
                left:15%;
                top: 30%;
                background-color: #000;
                @media screen and (min-width:$s){
                    height: 0.5%;
                }
                @media screen and (min-width:$s){
                    height: 1%;
                }    
            }
        }
    }
}
@keyframes slideNext {
    from {
        transform : translateX(1000%);
    }
    to {
        transform : translateX(0%);
    }
}
@keyframes slidePrevious {
    from {
        transform : translateX(-1000%);
    }
    to {
        transform : translateX(0%);
    }
}
.slider {
    margin: auto;
    display: flex;
    overflow-x: hidden;
    position:fixed;
    // transition: 1.5s;
    .sliderWrapper{
        width: 100vw;
        &.slidePrevious{
            animation: slidePrevious 1.2s ease-out;
        }
        .carousel{
            overflow-x: hidden;
            flex-direction: row;
            @media screen and (min-width:$s){
                    // margin: 0 180px 0 50px;
                }
                // @media screen and (min-width:$m){
                //     margin: 0px 20px 0 50px;
                // }
                // @media screen and (min-width:$l){
                //     margin: 0 100px 0 50px;
                // }    
                .carouselImage1, .carouselImage2, .carouselImage3{
                margin: 0 25px 0 25px;
                height: 200px;
                // width: 330px;

                &.slideNext{
                    animation: slideNext 1.2s ease-out;
                }
                &.slidePrevious{
                    animation: slidePrevious 1.2s ease-out;
                }
                
                @media screen and (min-width:$s){
                    margin: 0 180px 0 50px;
                    height: 400px;
                    width: 630px;
                }
                @media screen and (min-width:$m){
                    margin: 0 280px 0 150px;
                    // height: 800px;
                    // width: 1030px;
                }
                @media screen and (min-width:$l){
                    // height: 1200px;
                    // width: 1430px;
                }
            }
    }
}
}

