@import "../variables";
.carouselTitle{
    font-size: 1em;
    font-family: 'Helvetica', Helvetica;
    font-weight: 600;
    position: fixed;
    left:15%;
    top: 31%;
    @media screen and (min-width:$s){
        top: 28%;
        font-size: 4em;
    }
    &::before{
        content: "";
        width: 10%;
        height: 0.3%;
        position: fixed;
        left:15%;
        top: 30%;
        background-color: #000;
        @media screen and (min-width:$s){
            height: 0.5%;
        }
        @media screen and (min-width:$s){
            height: 1%;
        }    
    }
}
.homeContentSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 295px;
    @media screen and (min-width:$s){
        // margin-top: 280px;
        margin-top: 400px;
    }
    @media screen and (min-width:$m){
        margin-top: 460px;
    }
    @media screen and (min-width:$l){
        margin-top: 360px;
    }  
    .previousButton,.nextButton{
        font-size: 0.625em;
        letter-spacing: 0.1em;
        z-index: 565656;
        @media screen and (min-width:$m){
            font-size: 0.9em;
        }
    }
    .previousButton{
        margin: 0;
        left: 5px;
        transform: rotate(270deg);
        cursor: url(https://kidstudio.co/assets/css/../images/left.png) 25 15, auto;
    }
    .nextButton{
        right: -5px;
        transform: rotate(90deg);
        cursor: url(https://kidstudio.co/assets/css/../images/right.png) 25 15, auto;
    }
}