@import "../variables";
@mixin fullviewPort(){
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow-y: hidden;
    top: 0;
    left: 0;
}

.noScroll{
    @include fullviewPort();
    overflow: hidden;

    .homeContentSection{
        position: fixed;
        top: 37%;
        flex-direction: column;
        justify-content: center;
    }
    .previousButton,.nextButton{
        font-size: 0.625em;
        letter-spacing: 0.1em;
        z-index: 565656;
        position: fixed;
        top: 49%;
        @media screen and (min-width:$m){
            font-size: 0.9em;
        }
    }
    .previousButton{
        margin: 0;
        left: 0px;
        transform: rotate(270deg);
        &:hover{
            cursor: url(https://kidstudio.co/assets/css/../images/left.png) 25 15, auto;
        }
    }
    .nextButton{
        top: 48%;
        right: 25px;
        transform: rotate(90deg);
        &:hover{
            cursor: url(https://kidstudio.co/assets/css/../images/right.png) 25 15, auto;
        }
    }
    
    .counter{
        position: fixed;
        top: 68%;
        left: 79%;
        font-family: 'Helvetica', Helvetica;
        font-size: 1em;
        color: #060606;
        font-weight: 600;
    }
}
