@import "../variables";
@mixin fullviewPort(){
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow-y: hidden;
    top: 0;
    left: 0;
}

.noScroll{
    @include fullviewPort();
    overflow: hidden;

    .homeContentSection{
        position: fixed;
        top: 37%;
    }
    .previousButton,.nextButton{
        font-size: 0.625em;
        letter-spacing: 0.1em;
        z-index: 565656;
        position: fixed;
        top: 49%;
        @media screen and (min-width:$m){
            font-size: 0.9em;
        }
    }
    .previousButton{
        margin: 0;
        left: 0px;
        @media screen and (max-width:$m){
            left: -2%;
        }
        transform: rotate(270deg);
        &:hover{
            cursor: url(https://images.ctfassets.net/kllhmdk2nlsw/2rkHINt7RmkcuxbZnGKRul/974bf5a5398ceede237a503aff54b987/left.png) 25 15, auto;
        }
    }
    .nextButton{
        top: 48%;
        right: 25px;
        @media screen and (max-width:$m){
            right: 2%;
        }
        transform: rotate(90deg);
        &:hover{
            cursor: url(//images.ctfassets.net/kllhmdk2nlsw/5JFT3m5W787jd197yKIKts/28f2b0a2c3584b6d16f6f0325ab49347/right.png) 25 15, auto;
        }
    }
    
    .counter{
        position: fixed;
        top: 68%;
        left: 79%;
        font-family: 'Helvetica', Helvetica;
        font-size: 1em;
        color: #060606;
        font-weight: 600;
    }
}
