@import "../variables";

// @media screen and (min-width:$s){

// }
// @media screen and (min-width:$m){

// }
// @media screen and (min-width:$l){
// }
.projectPageSection{
    margin: 30px 10% 0px 10%;
    overflow: visible;
    .projectTitle{
        font-size: 28px;
        font-weight: 700;
        font-family: "Helvetica-Neue-Bold", "Helvetica Neue Bold", "HelveticaNeueBold", Helvetica-Neue, HelveticaNeue, "Helvetica", Helvetica, "Arial", Arial, sans-serif;
        text-align: left;
        line-height: 1;
    }
    .projectDetailsWrapper{
        margin-bottom: 25px;
        .projectDetails{
            white-space: pre-wrap;
            font-family: "Avenir", Avenir, sans-serif;
            font-size: 0.8em;
            line-height: 1.5em;
            word-break: initial;
            z-index: 10000;
            background-color: #f0f0f0;
            margin: 0px;
        }
    }
    .videoOverlay{
        position: relative;
        display: block;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: 1;
        // .playButton{
            .videoCover{
                // position: absolute;
                // top: 0;
                // left: 0;
                background-size: cover;
                background-position: center center;
                visibility: hidden;
                width: 256px;
                height: 144px;
            }
        // }
    }
    .video{
        // position: absolute;
        // height: 100%;
        // top: 0;
        // left: 0;
        
    }
    .projectStills{
        height: 100%;
        width: 100%;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        margin: 25px 0px 20px 0px;
        .stills{
            margin-bottom: 25px !important;
        }
    }
}