@import "../variables";

// @media screen and (min-width:$s){

// }
// @media screen and (min-width:$m){

// }
// @media screen and (min-width:$l){
// }
.projectPageSection{
    margin: 30px 10% 0px 10%;
    @media screen and (min-width:$l){
        margin: 30px 5% 0px 5%;
    }
    .projectDetailsWrapper{
        .projectTitle{
            font-size: 28px;
            font-weight: bold;
            font-family: "Helvetica-Neue-Bold", "Helvetica Neue Bold", "HelveticaNeueBold", Helvetica-Neue, HelveticaNeue, "Helvetica", Helvetica, "Arial", Arial, sans-serif;
            text-align: left;
            line-height: 1;
            margin: 20px 0px 20px 0px;
            @media screen and (min-width:$l){
                text-align: center;
                font-size: 4.7em;
                margin-top: 6%;
            }
            @media screen and (min-width:1440px){
                font-size: 5.6em;
            }
        }
        .projectCredsWrapper{
            margin-bottom: 4%;
            .projectCreds{
                white-space: pre-wrap;
                font-family: "Avenir", Avenir, sans-serif;
                font-size: 0.8em;
                line-height: 1.5em;
                word-break: initial;
                z-index: 100;
                background-color: #f0f0f0;
                @media screen and (min-width: $l){
                    position: absolute;
                    left: 51%;
                    // top: 30%;
                    top: 350px;
                    padding: 30px;
                    margin-left: 0px;
                    width: 350px;
                    z-index: 56565656;
                }
                @media screen and (min-width: $xl){
                    left: 49%;
                    // top: 35%;
                    top: 350px;
                }
            }
        }
    }
    .projectVideo{
        display: block;
        position: relative;
        z-index: 5656;
        &.toggleIndex{
            z-index: 5656565656;
        }
        margin-bottom: 10%;
        .videoOverlay{
            position: relative;
            display: inline-block;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            z-index: 5656565656;
            width: 100%;
            height: 100%;
            max-width: 560px;
            max-height: 450px;
            &.hideOverlay{
                display: contents; 
            }
            .videoCover{
                visibility: hidden;
                width: inherit;
            }
        }
        .video{
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            max-width: 560px;
            max-height: 450px;
        }
    }
    .projectStills{
        height: 100%;
        width: 100%;
        @media screen and (min-width: $l){
            margin-top: 20%;
        }
        display: flex;
        flex-direction: column;
        .stills{
            margin-bottom: 10%;
            max-width: 600px;
            max-height: 500px;
        }
    }
}