@import "../_variables.scss";
.footer{
    text-align: center;
    font-size:0.625em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    letter-spacing: 0.1em;
    &.workPage{
        position: absolute;
        bottom: 90%;
    }
    @media screen and (min-width:$m){
        font-size: 0.8em;
    }
    @media screen and (max-width:$l){
        &.projectPages{
            position: static;
        }
    }
    .footerLinks{
        margin: 28px 0;
        &.hoverColor{
            color: #f0f0f0;
        }
        @media screen and (min-width:$m){
            margin: 51px 0;
        }
        padding-left: 0px;
        .footerLink{
            // padding: 2px 15px;
            // padding: 2px 4px;
            margin: 2px 15px;
            @media screen and (min-width:$xxs){
                padding: 2px 4px;
            }
            @media screen and (min-width:$m){
                // padding: 2px 41px;
                margin: 2px 37px;
            }
            &:hover{
                color: #f0f0f0;
                background-color: #000;
            }
        }
    }
}

