
// .loaderBackground{
//     height: 100vh;
//     width: 100vw;
//     position: fixed;
//     overflow-y: hidden;
//     top: 0;
//     left: 0;
//     .loader {
//         z-index: 56565656565656;
//         background-image: url(https://kidstudio.co/assets/css/../images/loader.gif);
//         background-repeat: no-repeat;
//         background-size: cover;
//         background-position: center center;
//         width: 128px;
//         height: 128px;
//         position: fixed;
//         transform: translate(-50%, -50%);
//         left: 50%;
//         top: 50%;
//         margin-top: -10px;
//         .hideLoader{
//             display: none;
//         }
//     }
// }

.loader {
    z-index: 56565656565656;
    background-image: url(https://kidstudio.co/assets/css/../images/loader.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 128px;
    height: 128px;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    margin-top: -10px;
    .hideLoader{
        display: none;
    }
}