@import "./variables";

html, body{
    background-color: #F0F0F0;
    font-family: "Andale Mono";
    cursor: url(https://images.ctfassets.net/kllhmdk2nlsw/70C4X1KQpoHqDdWkgoyfTP/7f7e6c69b9d0abbdfe1e77db89714a39/cursor.png) 25 15, auto;

}

body{
    width: 100vw;
    height: 100vh;
    padding: .5px;
    margin: 0;
}

a, .videoTitle {
    color: inherit;
    text-decoration: none;
    cursor: url(https://images.ctfassets.net/kllhmdk2nlsw/4DYjDIVo8imG0Jb9UHI0qC/605550500021bbe1cf995977c272553c/hover.png) 25 15, auto;
  }

  // This is where you can control the page transition animation fade-in and fade-out times
  .page-transition-enter {
    opacity: 0;
    transition: opacity 600ms;
    
  }
  .page-transition-enter-active {
    opacity: 1;
    transition: opacity 800ms;
  }
  .page-transition-exit {
    opacity: 1;
    transition: opacity 600ms;
  }
  .page-transition-exit-active {
    opacity: 0;
    transition: opacity 600ms;
  }