$xxxs: 320px;
$xxs: 375px;
$iphonePlus: 414px;
$xs: 425px;
$surfaceDuo: 540px;
$s: 768px;
$ipadAir: 820px;
$m1: 1024px;
$m: 1025px;
$l: 1200px;
$l1: 1440px;
$xl: 1600px;
$xl2: 1900px;

$commonFont: 0.8em;
$contentFont: 1em;