/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

@font-face {
  font-family: "Andale Mono";
  src: url("/fonts/andalemo.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Andale Mono";
  src: url("/fonts/andaleMono.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Andale Mono";
  src: url("/fonts/AndaleMono.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
body, html{
  font-family: "Andale Mono";

}
body{
  overflow: hidden;
}
body.needsScroll{
  overflow-Y: auto;
}
canvas{
  margin: 0 auto;
}